$colors: (
   primary: #ac53a4,
   accent: #c000
);

%message {
      font-family: sans-serif;
      font-size: 18px;
      font-weight: bold;
      border: 0px srgba(45, 30, 128, 0.884);
      padding: 9px;
      margin: 20px;
      border-radius: 20px;
  }
 
body {
      margin: 0px;
      font-family: Arial, Helvetica, sans-serif;

      
      strong{
            font-size: 20;
            font-family: cursive;
      }

      header {
       
            font-size: 25px;
            font-weight: bold;
            font-family:Arial;
            color:primary;
      }

      ul {
            li{
                  font-size: 20px;
                  font-family: monospace;
            }
      }

      button{
            border-radius: 20px;
            background-color: #c088bb;

      }

}

.alert {
@extend %message;
text-align: center;
}

.Alternative {
    @extend %message;
    background-color:rgb(122, 122, 155);
    
}

.Classical {
    @extend %message;
    background-color: rgb(122, 122, 155);
}

.African {
    @extend %message;
    background-color:rgb(122, 122, 155);
}

div#card {

      margin: 0;
      font-size: 19px;
      font-family: cursive;
      
}
