
.topnav {
   position: relative;
   overflow: hidden;
   background-color: #290125;
} 

.topnav a {
   float: left;
   color:#f2f2f2;
   text-align: center;
   padding: 11px 10px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #ddd;
   color:black;
}

.topnav a.active {
   background-color:#380435;
   color:white;
}

.topnav-centered a {
   float: none;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
}

.topnav-right {
   float: right;
}

.topnav-centered a {
   position: relative;
   top:0;
   left:0;
   transform: none;
}
@media only screen and (max-width: 600px) {
   .topnav a, .topnav-right{
      float:none;
      display : block;
      text-align: auto;
   }
}